* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

input,
button {
  outline: 0;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p,
span,
strong {
  font-size: 14px;
}

ul,
li {
  list-style: none;
}
